@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: 'pixel';
    src: url('fonts/PPMondwest-Regular.otf') format('openype'),
         url('fonts/PPMondwest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fancy';
    src: url('fonts/PPEditorialOld-Italic.otf') format('openype'),
        url('fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}

header {
    display: flex;
    height: 100px;
    background-color: white;
}
header img {
  width: 50px;
  height: auto;
  padding: 20px;
}

main {
    height: auto;
    background-color: white;

}
h1 {
  text-align: center;
  padding-top: 50px;

  font-family: 'fancy';
  font-weight: normal;
  font-size: 50px;
}
h2 {
  font-size: 50px;
  padding: 100px 0 0 50px;
  font-family: 'Urbanist';
}
h3 {
  font-size: 25px;
  padding: 50px 50px;
  line-height: 1.5;
  font-family: 'Urbanist';
  font-weight: normal;
}
.section {
    background-image: linear-gradient(white, #E4FFFA);

}
.section1 {
  /* background-image: linear-gradient(white, #E4FFFA); */

  background-color: #E4FFFA;
  height: 500;
  padding-bottom: 100px;


}
.section2 {
  height: 100px;
  background-image: linear-gradient(#E4FFFA, #F3E4FF);


}
.section2 img {

  height: 350px;
  width: auto;

}
.section3 {
  /* background-image: linear-gradient(#F3E4FF, #D0FFDB); */
  align-items: center; /* Align vertically centered */

  background-color: #F3E4FF;
  height: auto;
  padding-bottom: 100px;
}
.about img {
  height: 400px;
  width: auto;
}
.about {
  display: flex;
;
}
.section4 {
  /* background-image: linear-gradient(#D0FFDB, white); */
  background-image: linear-gradient(#F3E4FF, #D0FFDB);

  /* clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%); */
  background-color: #D0FFDB;
  height: auto;
  padding-bottom: 200px;

}

/** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
    height: 250px;
    background-color: black;
}
footer p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.marquee {
    height: 50px;
    background-color: #D0FFDB;
    font-size: 50px;
    font-family: pixel;
    color: black;
}
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.footer_icons {
    display: flex;
    justify-content: center;
    padding: 75px 0px 50px 0px;
}
.footer_icons img {
    width: 50px;
    height: auto;
    margin: 0px 50px
}
/** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

@media screen and (max-width: 900px) {
  main {
    height: auto;
  }
  .about {
    flex-direction: column;
  }
  .about img{
    height: auto;
  }
  footer {
    height: 200px;
  }
  .marquee {
    height: 40px;
    font-size: 40px;
  }
  .footer_icons {
    padding: 55px 0px 50px 0px;
}
  .footer_icons img {
    width: 30px;
    height: auto;
    margin: 0px 30px
  }
  footer p {
    font-size: 10px;
  } 
}






