@font-face {
    font-family: 'pixel';
    src: url('fonts/PPMondwest-Regular.otf') format('openype'),
         url('fonts/PPMondwest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fancy';
    src: url('fonts/PPEditorialOld-Italic.otf') format('openype'),
        url('fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    position: relative;
    min-height: 100vh;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
}

.backarrow {
    width: 50px;
    margin: 50px;
    height: auto;
}

main {
    flex: 1; /* takes up the screen */
    color: black;
    justify-content: center;
    align-items: center;
    height: 1500px;
    padding-top: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    font-family: 'fancy';
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.about-image {
    width: 600px;
    height: auto;
    animation: hover 4s infinite;
}

.text {
    width: 600px;
    height: auto;
    font-size: 20px;
    font-family: Helvetica;
}





/* FOOTER FOOTER FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 50px 0;
}
.footer-icons img{
    margin: 0 50px;
    width: 50px;
    height: auto;
}
footer p {
    text-align: center;
    margin: 0 0 50px 0;
    color: white;
    font-family: Helvetica;
}
.marquee {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    overflow-x: hidden;
    color: grey;
    background-color: white;
    font-size: 50px;
    pointer-events: none;
    font-family: 'pixel';
}  
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
/* FOOTER FOOTER FOOTER */

/* KEYFRAMES KEYFRAMES KEYFRAMES */

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes hover {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
/* KEYFRAMES KEYFRAMES KEYFRAMES */








/* MOBILE MOBILE MOBILE */

@media only screen and (max-width: 768px) {
    main {
        flex: 1; /* takes up the screen */
        background-color: white;
        color: black;
        justify-content: center;
        align-items: center;
        height: 1000px;
    }

    main {
        height: 1500px;
    }

    .about-image {
        width: 200px;
    }
    
    .text {
        width: 80vw;
        font-size: 15px;
    }


    .backarrow {
        width: 30px;
        height: auto;
    }

    .about {
        flex-direction: column-reverse;
    }
  
    /* FOOTER FOOTER FOOTER */
    .footer-icons {
        margin: 100px 0 40px 0;
    }
    .footer-icons img{
        margin: 0 20px;
        width: 20px;
        height: auto;
    }
    footer p {
        margin: 0 0 20px 0;
        font-size: 10px;
    }
    .marquee {
        height: 40px;
        font-size: 40px;
    }  
    /* FOOTER FOOTER FOOTER */

}
/* MOBILE MOBILE MOBILE */


