@font-face {
    font-family: 'pixel';
    src: url('fonts/PPMondwest-Regular.otf') format('openype'),
         url('fonts/PPMondwest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fancy';
    src: url('fonts/PPEditorialOld-Italic.otf') format('openype'),
        url('fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    position: relative;
    min-height: 100vh;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
}

.backarrow {
    width: 50px;
    margin: 50px;
    height: auto;
}

main {
    flex: 1; /* takes up the screen */
    color: black;
    justify-content: center;
    align-items: center;
    height: 1000px;
    padding-top: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    font-family: 'fancy';
}

h2 {
    font-family: Helvetica;
    text-align: center;
    font-weight: normal;
    margin-top: 50px;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sender {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

input {
    width: 400px;
    font-size: 20px;
    border: none;
    border-bottom: 5px solid black;
}

textarea {
    width: 810px;
    font-size: 20px;
    font-family: Helvetica;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: none;
    border-bottom: 5px solid black;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    border: 5px solid #e4fffa;
    padding: 5px;
    font-family: Helvetica;
    font-size: 25px;
}



/* FOOTER FOOTER FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 50px 0;
}
.footer-icons img{
    margin: 0 50px;
    width: 50px;
    height: auto;
}
footer p {
    text-align: center;
    margin: 0 0 50px 0;
    color: white;
    font-family: Helvetica;
}
.marquee {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    overflow-x: hidden;
    color: grey;
    background-color: white;
    font-size: 50px;
    pointer-events: none;
    font-family: 'pixel';
}  
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
/* FOOTER FOOTER FOOTER */

/* KEYFRAMES KEYFRAMES KEYFRAMES */

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes hover {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
/* KEYFRAMES KEYFRAMES KEYFRAMES */








/* MOBILE MOBILE MOBILE */

@media only screen and (max-width: 768px) {
    main {
        flex: 1; /* takes up the screen */
        background-color: white;
        color: black;
        justify-content: center;
        align-items: center;
        height: 1000px;
    }

    .sender {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 20px;
    }

    textarea {

        width: 400px;
    }


    .backarrow {
        width: 30px;
        height: auto;
    }

    
  
    /* FOOTER FOOTER FOOTER */
    .footer-icons {
        margin: 100px 0 40px 0;
    }
    .footer-icons img{
        margin: 0 20px;
        width: 20px;
        height: auto;
    }
    footer p {
        margin: 0 0 20px 0;
        font-size: 10px;
    }
    .marquee {
        height: 40px;
        font-size: 40px;
    }  
    /* FOOTER FOOTER FOOTER */

}
/* MOBILE MOBILE MOBILE */


