@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@font-face {
    font-family: 'pixel';
    src: url('fonts/PPMondwest-Regular.otf') format('openype'),
         url('fonts/PPMondwest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fancy';
    src: url('fonts/PPEditorialOld-Italic.otf') format('openype'),
        url('fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}

header img {
    height: 100px;
    width: auto;
}

main {
    height: 2500px;
    background-color: black;
}

.section1 {
    height: 100vh;
    background-color: black;
}
.text {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-top: 300px;
}
.section1 h1 {
    font-family: "IBM Plex Mono", Helvetica;
    color: white;
    font-size: 30px;
}
.word {
    text-align: center;
    width: 250px;
}
.download {
    margin-top: 100px;
    justify-content: center;
    display: flex;
}
.download img {
    width: 200px;
    height: auto;
}
.parallax {
    /* The image used */
    background-image: url("images/dot.png");
    /* Set a specific height */
    min-height: 100vh; 
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url("images/comingsoon.png");
  
    /* Set a specific height */
    min-height: 100vh; ;
  
    /* Create the parallax scrolling effect */

    /* background-attachment: fixed; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section2 {
    height: 100vh;
    background-color: black;
}
.section2 h2 {
    text-align: center;
    font-family: "IBM Plex Mono", Helvetica;
    color: white;
    padding-top: 200px;
    font-size: 30px;
}
.section2 h3 {
    font-family: 'Urbanist', Helvetica;
    font-size: 200px;
    color: white;
}
.word-part {
    position: absolute;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    margin: 0;
}
#when {
    position: absolute;
    left: 16vw;
    font-size: 15vw;
}
#where {
    position: absolute;
    left: 19vw;
    font-size: 15vw;
}
#ever {
    position: absolute;
    left: 53vw;
    font-size: 15vw;
}
.text2 {
    margin-top: 100px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.center {
    display: flex;
}
.section3 {
    height: 100vh;
    background-color: black;
}
.section3 h2 {
    text-align: center;
    font-family: "IBM Plex Mono", Helvetica;
    color: white;
    padding-top: 200px;
    font-size: 30px;
}


.section3 h3 {
    text-align: center;
    font-family: "IBM Plex Mono", Helvetica;
    color: white;
    padding-top: 50px;
    font-size: 30px;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circle {
    position: absolute;
    border-radius: 50%;
    animation-name: pop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}


/** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
    height: 250px;
    background-color: black;
}
footer p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.marquee {
    height: 50px;
    background-color: transparent;
    font-size: 50px;
    font-family: pixel;
    color: black;
}
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
    background-color: transparent;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.footer_icons {
    display: flex;
    justify-content: center;
    padding: 75px 0px 50px 0px;
}
.footer_icons img {
    width: 50px;
    height: auto;
    margin: 0px 50px
}
/** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */














/* NAVBAR NAVBAR NAVBAR */
.toggle_btn {
    position: fixed; /* make the image fixed */
    bottom: -50px;
    left: 50%; /* center the image horizontally */
    transform: translate(-50%, -50%); /* adjust the position of the image */
    z-index: 1;
    filter: invert();
    background-color: transparent;
    border-color: transparent;
    transition: transform .5s ease-in-out; /* add a transition to make the button shift down smoothly */   
}
.toggle_btn img {
    width: 100px;
    height: auto;
}
.popup {
    position: fixed;
    left: 50%;
    bottom: 90px;
    transform: translate(-50%, -50%); /* adjust the position of the image */
    cursor: default;
}
.popup.open {
    opacity: 0;
}
.popup h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'fancy';
    color: white;
}
.toggle_btn.open {
    transform: translate(-50%, 0%);
}
.dropdown_menu {
    display: none;
    position: fixed; 
    height: 0;
    bottom: -40px;
    opacity: 0;
    left: 50%; /* center the image horizontally */
    transform: translate(-50%, -50%); /* adjust the position of the image */
    background-color: #E4FFFA;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 4;
    transition: opacity 0.25s ease-in-out;
}
.dropdown_menu.open {
    width: auto;
    height: 200px;
    opacity: 1;
    display: flex;
    flex-direction: row;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Lighter opacity */
    animation: fade-in .25s ease-in; /* Animation for fade-in effect */
}
.overlay.open {
    display: block;
}
h4 {
    margin-bottom: 20px;
    font-weight: normal;
}
.projects {
    float: left;
    margin: 10px 120px 0 10px;
    padding: 10px;
    text-align: left;
}
.projects li {
    list-style: none;
    text-align: left;
    margin-top: 5px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;
}
.navigation {
    float: right;
    margin: 10px 10px 0 120px;
    padding: 10px;
    text-align: right;
}
.navigation li {
    list-style: none;
    text-align: right;
    margin-top: 5px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: wheat;
}
@media all {
    .dropdown_menu {
        display: block;
    }
}
/* NAVBAR NAVBAR NAVBAR */


@media screen and (max-width: 900px) {
    * {
        overflow-x:hidden;
    }
    .section1 h1 {
        font-size: 20px;
    }
    .download img {
        width: 150px;
        height: auto;
    }
    .text {
        display: flex;
        flex-direction: column;
        padding-top: 300px;
    }
    .word {
        margin: 20px 0;
    }
    .section2 h2 {
        padding-top: 150px;
        font-size: 20px;
    }
    .section2 h3 {
        font-size: 150px;
    }
    .section3 h2 {
        padding-top: 150px;
        font-size: 20px;
    }
    .section3 h3 {
        padding-top: 50px;
        font-size: 20px;
    }
    
    .parallax2 {
        background-image: url("images/mobile.png");
    }
    /* NAVBAR NAVBAR NAVBAR */
    .toggle_btn {
        bottom: -20px;
        left: 50%; /* center the image horizontally */
    }
    .toggle_btn img {
        width: 80px;
        height: auto;
    }
    .popup {
        left: 50%;
        bottom: 90px;
    }
    .popup h2 {
        font-size: 20px;
    }
    .dropdown_menu {
        bottom: -40px;
    }
    .dropdown_menu.open {
        height: 150px;
        width: auto;
    }
    h4 {
        margin-bottom: 20px;
    }
    .projects {
        margin: 10px 50px 0 10px;
        padding: 10px;
    }
    .projects li {
        margin-top: 5px;
        font-size: 10px;
    }
    .navigation {
        margin: 10px 10px 0 50px;
        padding: 10px;
    }
    .navigation li {
        margin-top: 5px;
        font-size: 10px;
    }
    /* NAVBAR NAVBAR NAVBAR */

    /* FOOTER FOOTER FOOTER  */
    footer {
        height: 200px;
      }
    .marquee {
        height: 40px;
        font-size: 40px;
      }
    .footer_icons {
        padding: 55px 0px 50px 0px;
    }
    .footer_icons img {
        width: 30px;
        height: auto;
        margin: 0px 30px
      }
      footer p {
        font-size: 10px;
      } 
}
