@font-face {
    font-family: 'pixel';
    src: url('fonts/PPMondwest-Regular.otf') format('openype'),
         url('fonts/PPMondwest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fancy';
    src: url('fonts/PPEditorialOld-Italic.otf') format('openype'),
        url('fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    position: relative;
    min-height: 100vh;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
}

.backarrow {
    width: 50px;
    margin: 50px;
    height: auto;
}

main {
    flex: 1; /* takes up the screen */
    color: black;
    justify-content: center;
    align-items: center;
    height: 2500px;
    padding-top: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    font-family: 'fancy';
}

h2 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'pixel';
}

.team {
    padding-top: 50px;
    display: grid;
    row-gap: 80px;
    align-items: center;
    justify-content: center;
}

.person {
    display: grid;
    place-items: center;
    grid-template-rows: auto, auto;
    display: flex;
    column-gap: 50px;
    animation: slide-in 1s ease-in-out forwards;
}

.team img {
    width: 200px;
    height: auto;
    justify-content: space-around;
    border: 5px solid black;
    justify-content: center;
}

.profile {
    display: flex;
    justify-content: center;
}

.description {
    justify-content: space-around;
    font-family: Helvetica;
}


/* FOOTER FOOTER FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 50px 0;
}
.footer-icons img{
    margin: 0 50px;
    width: 50px;
    height: auto;
}
footer p {
    text-align: center;
    margin: 0 0 50px 0;
    color: white;
    font-family: Helvetica;
}
.marquee {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    overflow-x: hidden;
    color: grey;
    background-color: white;
    font-size: 50px;
    pointer-events: none;
    font-family: 'pixel';
}  
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
/* FOOTER FOOTER FOOTER */

/* KEYFRAMES KEYFRAMES KEYFRAMES */

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
/* KEYFRAMES KEYFRAMES KEYFRAMES */








/* MOBILE MOBILE MOBILE */

@media only screen and (max-width: 768px) {
    main {
        flex: 1; /* takes up the screen */
        justify-content: center;
        align-items: center;
        height: 1000px;
    }

    main {
        height: 2500px;
    }

    .backarrow {
        width: 30px;
        height: auto;
    }

    .person {
        display: grid;
    }

    .person img {
        width: 150px;
        height: auto;
    }
    

    .description {
        text-align: center;
        font-size: 10px;
    }
  
    /* FOOTER FOOTER FOOTER */
    .footer-icons {
        margin: 100px 0 40px 0;
    }
    .footer-icons img{
        margin: 0 20px;
        width: 20px;
        height: auto;
    }
    footer p {
        margin: 0 0 20px 0;
        font-size: 10px;
    }
    .marquee {
        height: 40px;
        font-size: 40px;
    }  
    /* FOOTER FOOTER FOOTER */

}
/* MOBILE MOBILE MOBILE */


