@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: 'pixel';
    src: url('fonts/PPMondwest-Regular.otf') format('openype'),
         url('fonts/PPMondwest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fancy';
    src: url('fonts/PPEditorialOld-Italic.otf') format('openype'),
        url('fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}

header {
    display: flex;
    height: 100px;
    background-color: white;
}
header img {
  width: 50px;
  height: auto;
  padding: 20px;
}

main {
    height: 1000px;
    background-color: white;
    margin: auto;
    overflow-x: hidden;
}
h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 75px;
  font-family: 'fancy';
  font-weight: normal;
  font-size: 50px;
}
.socials {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.socials img {
  width: 50px;
  margin: 0 25px 0 25px;
  height: auto;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: auto;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  
  
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 600px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3); /* Solid black border with opacity */
  /* box-shadow: 0 0 10px rgb(0, 0, 0, 0.3); */
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  height: 200px;
  width: 200px;

}
.card .img img {
  width: 200px;
  height: 200px;

  object-fit: cover;
  border: 4px solid black;
}
.carousel .card h2 {
  font-weight: normal;
  font-size: 45px;
  margin: 30px 0 0;
  font-family: "pixel", sans-serif;

}
.carousel .card span {
  color: black;
  font-size: 15px;
  font-family: "Helvetica";
  text-align: center;
}

@media screen and (max-width: 900px) {
    overflow-x: hidden;
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
    footer {
    height: 200px;
  }
  .marquee {
    height: 40px;
    font-size: 40px;
  }
  .footer_icons {
    padding: 55px 0px 50px 0px;
}
  .footer_icons img {
    width: 30px;
    height: auto;
    margin: 0px 30px
  }
  footer p {
    font-size: 10px;
  } 
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    overflow-x: hidden;
    grid-auto-columns: 100%;
  }
    footer {
    height: 200px;
  }
  .marquee {
    height: 40px;
    font-size: 40px;
  }
  .footer_icons {
    padding: 55px 0px 50px 0px;
}
  .footer_icons img {
    width: 30px;
    height: auto;
    margin: 0px 30px
  }
  footer p {
    font-size: 10px;
  } 
}



/** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
    height: 250px;
    background-color: black;
}
footer p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.marquee {
    height: 50px;
    background-color: transparent;
    font-size: 50px;
    font-family: pixel;
    color: black;
}
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.footer_icons {
    display: flex;
    justify-content: center;
    padding: 75px 0px 50px 0px;
}
.footer_icons img {
    width: 50px;
    height: auto;
    margin: 0px 50px
}
/** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */









